@page
@model IndexModel
@{
    ViewData["Title"] = "Home- aiwebapp ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to page with .net 6.0</h1>
    <p>Azure Web app for vacancy- by AI</p>
</div>
